<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Awesome Project</title>
  <meta name="description" content="Awesome Project">
  <meta name="Jonas Ermert" content="SitePoint">


    <!--
   <link rel="icon" href="/favicon.ico">
   <link rel="stylesheet" href="styles.css?v=1.0">
   -->

   </head>

   <body>










   </body>
   </html>